<div class="footer">
  <hr />
  <p>We are on a mission to build a better, more sustainable world by providing digital leaders with open source
    solutions which help them innovate faster and remove massive toil.</p>
  <p>The Open Lane, Inc. &middot; 29 Broadway &middot; New York City, NY 10006</p>

  <ul>
    <li><a href="https://console.theopenlane.io/">Sign In</a></li>
    <li><a href="https://www.theopenlane.io/privacy/">Privacy Policy</a></li>
    <li><a href="https://www.theopenlane.io/terms/">Terms of Service</a></li>
    <li><a href="https://www.theopenlane.io/unsubscribe?email={{ .EmailData.Recipient.Email }}">Unsubscribe</a></li>
  </ul>

  <p>Copyright &copy; <a href="https://theopenlane.io">The Open Lane, Inc.</a>, All Rights Reserved</p>
</div>