{{ template "base.html" . }}

{{ define "title" }}Your Open Lane Password Has Been Reset{{ end }}
{{ define "preheader" }}Confirming that your password has successfully been reset.{{ end }}

{{ define "content" }}
<div class="content">

  <p>Your Open Lane password has been successfully reset - no further action is required on your part if you submitted
    the
    password reset.</p>

  <p>If you did not request a password reset, please contact our Customer Support team immediately at
    support@theopenlane.io - your account security is important to us.</p>

  <p><br />The Open Lane Team<br /></p>
</div>
{{ end }}