{{ template "base.html" . }}

{{ define "title" }}The Open Lane Password Reset Request{{ end }}
{{ define "preheader" }}Change your password securely if you've forgotten your account details.{{ end }}

{{ define "content" }}
<div class="header">
  <h1>Reset your password</h1>
</div>

<div class="content">

  <p>We received a password reset request for your Open Lane account. If you requested a new password, please click on
    the
    button below which links to a page where you can securely set a new password.</p>

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" class="button">
        <a rel="noopener" target="_blank" href="{{ .ResetURL }}">Reset Password</a>
      </td>
    </tr>
  </table>

  <p>Or you can copy and paste the following URL into your browser:</p>

  <p><a href="{{ .ResetURL }}">{{ .ResetURL }}</a></p>

  <p>For your security, this link will expire after 15 minutes.</p>

  <p>If you did not request a new password, please ignore this email and no action is required on your part. If you have
    concerns, please contact <a href="mailto:support@theopenlane.io">support@theopenlane.io</a> to report an issue - the
    security
    of your account is important to us.</p>

  <p>Thank you,<br /><br />The Open Lane Team<br /></p>
</div>
{{ end }}