{{ template "base.html" . }}

{{ define "title" }}Thank you for subscribing{{ end }}
{{ define "preheader" }}Please verify your email to complete the Open Lane subscription process{{ end }}

{{ define "content" }}
<div class="content">
  <p>
    Thank you for subscribing to {{ .OrgName }} - in order to confirm the
    subscription of future emails, please verify your email address by clicking the button
    below, or copy and paste the linked URL into your browser:
  </p>

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" class="button">
        <a rel="noopener" target="_blank" href="{{ .VerifySubscriberURL }}">Verify Email</a>
      </td>
    </tr>
  </table>

  <p><a href="{{ .VerifySubscriberURL }}">{{ .VerifySubscriberURL }}</a></p>

  <p>If you are having trouble verifying your email address, please contact us at
    <a href="mailto:support@theopenlane.io">support@theopenlane.io</a>.
  <p>

  <p><br />The Open Lane Team<br /></p>
</div>
{{ end }}