{{ template "base.html" . }}

{{ define "title" }}Welcome to The Open Lane!{{ end }}
{{ define "preheader" }}You have successfully completed your registration{{ end }}

{{ define "content" }}
<div class="content">
  <p>Huzzah {{ .FirstName }}!!</p>

  <p>
    Welcome to The Open Lane platform - you can now log in to your account
    <a href="https://console.theopenlane.io">here</a>
  </p>

  <h2>What Next?</h2>

  <p>
    We've created a personal Organization just for you to help you get started - you can create additional Organizations
    for your businesses, or just jump right in to see all the amazing features we've cooked up for you.
    Check out the
    <a href="https://docs.theopenlane.io/getting-started">starter guide</a> for more
    information or our <a href="https://docs.theopenlane.io/examples">end-to-end examples</a>
    for ideas and inspiration.
  </p>

  <p>
    If you have any questions, please reach out to us at
    <a href="mailto:support@theopenlane.io">support@theopenlane.io</a>.
  </p>

  <p>><br />The Open Team<br /></p>
</div>
{{ end }}